@import "tailwindcss";
@theme {
  --color-brand-bg: #101010;
  --color-brand-card: #181818;
  --color-brand-navbar: #181818;
  --color-brand-active-tab: #ffffff;
  --color-brand-inactive-tab: #272727;
  --color-brand-text-primary: #ffffff;
  --color-brand-text-secondary: #a0a0a0;
  --color-brand-text-dark: #000000;
  --color-brand-yellow: #facc15;
  --color-brand-orange: #f97316;
  --font-sans: 'Inter', sans-serif;
  --font-brand: 'DM Sans', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-brand);
}
/* index.css or global stylesheet */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffd321; /* Tailwind's yellow-400 */
  background-color: rgb(24, 24, 24); /* Matches your brand-card */
  border-radius: 9999px; /* fully rounded */
  padding: 8px;
  width: 32px;
  height: 32px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.095);
}

.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
